body {
  margin: 0;
  padding: 0;
}

.price-calculator {
  background-color: #dbd5c6;
}

.price-calculator__main-text {
  color: #464330;
  font-family: Arial;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.price-calculator__description {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
