:root {
  --background-color-primary: #ebe5d7;
  --text-color-primary: #464330;
  --button-text-color: #464330;
  --button-text-color-hover: #ebe5d7;
  --buttom-color: #ebe5d7;
  --buttom-color-hover: #464330;
}

/* #region start */

.body {
  margin: 0;
  padding: 0;
  background: var(--background-color-primary);
}

.calculator-image {
  display: flex;
}

.calculator-wrapper {
  padding: 40px 29px 19px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 58px;
}

.calculator-form__h1 {
  margin: 0 0 20px 0;

  color: var(--text-color-primary);
  font-family: Arial;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.calculator-form__text {
  margin: 0 0 30px 0;
  color: var(--text-color-primary);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
}

.calculator-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  background: var(--buttom-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-text-color);
  width: 296px;
  height: 48px;
  border-radius: 100px;
  font-size: 14px;
  text-transform: uppercase;
}

.calculator-form__button:hover {
  background: var(--buttom-color-hover);
  color: var(--button-text-color-hover);
  border: 1px solid var(--button-text-color-hover);
}

.calculator-form__button:active {
  background: var(--buttom-color-hover);
  color: var(--button-text-color-hover);
  border: 1px solid var(--button-text-color-hover);
}

.calculator-form__button-arrow {
  width: 16px;
  height: 16px;
}

.calulator-contacts {
  display: flex;
  height: 18px;
  gap: 15px;
  margin-bottom: 18px;
}

.calulator-contacts__num {
  color: var(--text-color-primary);
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
}

.calculator-logo {
  mix-blend-mode: exclusion;
  display: flex;
}
/* #endregion */

.choose-project {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 16px 198px;
}

.choose-project__h2 {
  margin: 0;
  color: var(--text-color-primary);
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.choose-project__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.choose-project__label {
  cursor: pointer;

  padding: 0 16px;
  width: 328px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.choose-project__label:has(input:checked) {
  border: 1px solid var(--text-color-primary);
}

.choose-project__item-text {
  color: var(--text-color-primary);
  font-family: Manrope;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.choose-project__item {
  display: none;
}

.choose-project__item-custom {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: relative;
  margin-right: 16px;
  box-sizing: border-box;
}

.choose-project__item:checked + .choose-project__item-custom::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--text-color-primary);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
